@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-light: #E3E3E3;
  --color-second-light: #FFFFFF;
  --color-dark: #181818;
  --color-accent-orange: #e3561e;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.squares-aligned {
  display: grid;
  grid-template-columns: 7px 1fr;
}

.commit-timeline-point {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.cenas {
  color: #e3561e;
}